---
layout: content
---
<% content_for(:matching_path) do %>
<%= get_matching_path(get_opposite_locale(I18n.locale.to_s) , "flowers") %>
<% end %>

<% content_for(:masthead_title) do %>
  <%= t(:flowers_title) %>
<% end %>

<div class="row">
  <% data.families.sort_by{|family| family.ordering }.each do |family| %>
    <%= partial "partials/card", :locals => {
      :title => family.title[I18n.locale.to_s],
      :image => family.image,
      :cta => t(:flowers_cta),
      :link => "#"
      } %>
  <% end %>
</div>
