.card{
  margin-bottom: 25px;
}
.card-image{
  height: 450px;
  overflow: hidden;
  border: 1px solid #ecf0f1;
  border-bottom: none;
  padding: 0 13px;
  img{
    max-width: 100%;
  }
}
.card-title{
  float: none;
  padding: 12px 20px;
  background: $main-green;
  h3{
    color: #fff;
    margin: 0;
    line-height: 1em;
  }
  a, a:visited, a:hover{
    color: #fff;
  }
  span{
    font-style: normal;
    font-size: 12px;
    display: block;
    min-height: 24px;
    margin-bottom:0;
  }
}
.card-action{
  background: $secondary_green;
  padding: 5px 10px;
  text-align: right;
  a{
    color: #fff;
    font-size: 0.8em;
  }
}
