.btn-rounded {
    border-radius: 26px;
    padding-left: 26px;
    padding-right: 26px;
    text-transform: uppercase;
}
.btn-primary {
    color: #ffffff;
    background-color: #46b749;
    border-color: #46b749;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{color:#ffffff;background-color:#38923a;border-color:#358b37}
