<footer style="background: red;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <% 6.times do %>
          <li><a href="#">link</a>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <% 8.times do %>
          <li><a href="#">link</a>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-3 text-center rfa-logo">
        <img class="pull-right" title="Rain Forest Alliance Certification" src="/images/rainforest_alliance.png" alt="Rain Forest Alliance Certification">
        Certified Since 2009
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline">
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
      	<small>Copyright © 2016 Del Rí­o Exotic Flowers. All Rights Reserved.<br>Designed by <a href="http://guayo.me" title="Guayo Mena" target="_blank">Guayo Mena</a>.</small>
      </div>
    </div>
  </div>
</footer>
