<div class="masthead" style="background-image: url(<%= current_page.data.mastheadbg %>);">
  <div class="container">
    <h1><%= yield_content(:masthead_title) %></h1>
    <%= yield_content(:masthead_description) %>
  </div>
</div>
